Como referenciar o Material Design lite nos arquivos:

<link rel="stylesheet" href="assets/mdl/material.min.css">
<script src="assets/mdl/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">