<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="../../assets/mdl/material.min.css">
        <link rel="stylesheet" href="../../assets/css/custom.css">
        <script src="../../assets/mdl/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
       
    </head>
    
    
    
    <body>
     	<a href="access/signup.php"  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" role="button" >cadastrar</a> 
        <br><br>
        <a href="access/login.html"  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" role="button" >entrar</a> 
   
    </body>
    
      
    
</html>