<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../assets/mdl/material.min.css">
        <script src="../assets/mdl/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    </head>
    
    
    
    <body>
        
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
 

  <main style="background-image: url(/images/index.png);" class="mdl-layout__content">
    <div class="page-content">
    <div style="margin-top:20%"  class="mdl-card__supporting-text">
        
      <center> <span style="font-size: 60px;font-weight: bold;">red</span><span style="font-size: 60px;font-weight: 900;color:white">eja</span></center><br><br>
        <center> <span style="font-size: 20px;font-weight: bold;text-align: justify;  text-justify: inter-word;color:white">Rede de aprendizagem para educação de jovens e adultos, com conteúdos das mais diversas formas, estimulando a aprendizagem e diversão</span></center>       
    </div>    
        
    <div style="margin-top:58%" class="mdl-card__supporting-text">
        
        <a href="access/signup.php" style="display:inline; float:right" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" role="button" >cadastrar</a> 
        
        <a href="access/login.php" style="display:inline;float:left" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" role="button" >Acessar</a> 
   
    </div>
    
    </div>
  </main>
</div>
        
    </body>
    
    
    
</html>