<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="../../assets/mdl/material.min.css">
        <link rel="stylesheet" href="../../assets/css/custom.css">
        <script src="../../assets/mdl/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
       
    </head>
    
    
    
    <body>
         <form method = "POST"  action="../../controllers/accesscontroller.php">
              
              <div class="mdl-card__supporting-text">
   
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Nome</label>
                  </div> 
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Sobrenome</label>
                  </div> 
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">E-mail</label>
                  </div> 
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Confirmar E-mail</label>
                  </div> 
                  
  
              </div>
                
                 <hr style="margin-top:">
                  <div class="mdl-card__supporting-text">
   
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label  class="mdl-textfield__label" for="sample3">Senha</label>
                  </div> 
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Confirmar Senha</label>
                  </div> 
             
                  
  
                 </div>
   
                  <input  class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" name="login"  class="btn btn-info btn-fill ">
          
        </form>


        
   
    </body>
    
      
    
</html>