<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="../../assets/mdl/material.min.css">
        <link rel="stylesheet" href="../../assets/css/custom.css">
        <script src="../../assets/mdl/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
       
    </head>
    
    
    
    <body>
        
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      
      <!-- Title -->
     
      <button class="mdl-button mdl-js-button mdl-button--icon">
         <i class="material-icons">close</i>  
      </button>
      
      
     
      <span style="margin-left:20px" class="mdl-layout-title">Criar Conta</span>
        
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      
       <div class="mdl-layout-icon">
          <button class="mdl-button mdl-js-button mdl-button--icon">
             <i class="material-icons">done</i>  
          </button>
          
       </div>
    </div>
  </header>
  
    <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    
              <div class="mdl-card__supporting-text">
   
                   <p  style="font-size: 23px; color:#01579b"><i   style="font-size: 35px; color:#01579b;vertical-align: middle !important;" class=" material-icons">account_circle</i> Estudante</p>
                    
              </div>
                  <hr style="margin-top:-10px">
                 
             
    
              <div class="mdl-card__supporting-text">
   
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Nome</label>
                  </div> 
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Sobrenome</label>
                  </div> 
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">E-mail</label>
                  </div> 
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Confirmar E-mail</label>
                  </div> 
                  
  
              </div>
                
                 <hr style="margin-top:">
                  <div class="mdl-card__supporting-text">
   
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label  class="mdl-textfield__label" for="sample3">Senha</label>
                  </div> 
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Confirmar Senha</label>
                  </div> 
             
                  
  
                 </div>
          
                 
                 
                 
            </div>
         
           
          </section>
          

  
  
  
  
  

  
      
   
      </main>
</div>
        
   
    </body>
    
      
    
</html>